.page-container {
  max-width: 1000px;
  margin: auto;
  max-height: calc(100vh - 120px);
  overflow-y: scroll;
}
.chatbox-container {
  margin: auto;
  padding-top: 20px;
  width: 100%;
  max-width: 600px;
}
.input-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  max-width: 600px;
  left: 50%;
  transform: translate(-50%, -20%);
  margin: auto;
}
.send-mess-btn-group {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: -0;
}
.send-mess-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.send-mess-icon:hover {
  -webkit-animation: mover 0.3s infinite alternate;
  animation: mover 0.3s infinite alternate;
}
input:focus,
textarea:focus,
select:focus,
a:focus {
  outline: none;
}
.answer-container {
  max-height: calc(100vh - 180px);
}
div {
  white-space: initial;
}
.input-text {
  box-sizing: border-box;
  padding-right: 100px;
}
.input {
  height: 25px;
  line-height: 25px;
  border-radius: 10px;
}
.action-button {
  background: #f16814;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  color: #fff;
  min-width: 130px;
  text-align: center;
}
.loading-container {
  /* position: absolute; */
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-container-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-container {
  max-width: 1200px;
  margin: auto;
}
.essay-content-boxes {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 20px 0;
}
.essay-content-box {
  width: 46%;
  height: 500px;
  border: solid 1px #d9d9d9;
  border-radius: 25px;
  padding: 20px;
  overflow-y: scroll;
}
.footer {
  padding-bottom: 30px;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
