.app-navbar {
  font-size: 32px;
  font-weight: 500;
  background: #f16814;
  padding: 20px 130px;
  color: #fff;
  text-align: center;
}
.toggle-group {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2ecc71;
  width: 98%;
  max-width: 350px;
  border-radius: 25px;
  margin: auto;
}
.toggle {
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  text-align: center;
  width: 40%;
  cursor: pointer;
  border-radius: 25px;
  color: #404040;
}
.active-toggle {
  background: #f16814;
  width: 60%;
  color: #fff;
}
.header {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  padding: 50px 0 20px 0;
}
.upload-image {
  height: 200px;
  margin-top: 15px;
}
.upload-button {
  height: 40px;
  line-height: 40px;
  width: 130px;
  text-align: center;
}
